:root{
    --accent-one: #B42619;
    --accent-two:  #972829;
    --accent-three: #131d56;
    --accent-four: #2B3C3E;
    --accent-5: #d6c59f;
    --text-color: #383636;
}



.topBar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
}

.charInfo{
    border: 5px double var(--accent-two);
    border-radius: 5px;
     text-align: center;
    display: grid;
    width:50%;
    grid-template-areas: "g1 g2 g3"
    "g4 g5 g6"
    "g7 g8 g9";
}
.infoFill{
    border-bottom: 2px solid var(--accent-three);
    font-size: 20px;
}
 .infoTitle{
     font-size: 15px;
     margin-bottom: 5px;
 }
 .nameHolder{
     text-align: center;
      border: 5px double var(--accent-two);
    border-radius: 5px;
    padding: 10px;
    height: 35px
 }
 .baseStats{
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     text-align: center;
     margin: 20px auto;
 }
 .statDiv{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     border: 2px solid var(--accent-one);
     border-radius: 10px;
     align-items: center;
     width: 45px;
     height:45px;
 }
 .rollButton{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
