:root {
  --accent-one: #b42619;
  --accent-two: #972829;
  --accent-three: #131d56;
  --accent-four: #2b3c3e;
  --accent-5: #d6c59f;
  --text-color: #383636;
}

.modalContainer {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.topBar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}

.charInfo {
  border: 5px double var(--accent-two);
  border-radius: 5px;
  text-align: center;
  display: grid;
  width: 50%;
  grid-template-areas:
    "g1 g2 g3"
    "g4 g5 g6"
    "g7 g8 g9";
}
.infoFill {
  border-bottom: 2px solid var(--accent-three);
  font-size: 20px;
}
.infoTitle {
  font-size: 15px;
  margin-bottom: 5px;
}
.nameHolder {
  text-align: center;
  border: 5px double var(--accent-two);
  border-radius: 5px;
  padding: 10px;
  height: 35px;
}
.baseStats {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 20px auto;
}
.statDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid var(--accent-one);
  border-radius: 10px;
  align-items: center;
  width: 45px;
  height: 45px;
}
.rollButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.customizeFormContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.armorOp {
  display: flex;
  border: 2px solid var(--accent-four);
  cursor: pointer;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.backgroundOp {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-four);
  cursor: pointer;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.backgroundOp input,
.profBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.backgroundsFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.backgroundsForm {
  display: grid;
  grid-template-areas: "a1 a2 a3 a4" "a5 a6 a7 a8" "a9 a10 a11 a12";
}
.backgroundOp label {
  cursor: pointer;
  border-bottom: 2px solid var(--accent-three);
}
.backgroundOp:hover {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-four);
  cursor: pointer;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #b42619;
}
.profFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.profBox {
  display: flex;
  border: 2px solid var(--accent-four);
  cursor: pointer;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.armorOp input,
.armorOpSelected input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.armorOpSelected {
  display: flex;
  border: 2px solid var(--accent-four);
  cursor: pointer;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #972829;
}

.armorOp:hover,
.profBox:hover {
  background-color: #b42619;
}
.profBox label {
  cursor: pointer;
}
.profBoxSelected {
  display: flex;
  border: 2px solid var(--accent-four);
  cursor: pointer;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  background-color: #972829;
}
.profBoxSelected input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.profsGrid {
  display: grid;
  grid-template-areas:
    "1 2 3 4"
    "5 6 7 8"
    " 9 10 11 12"
    "13 14 15 16";
}
