:root{
    --accent-one: #B42619;
    --accent-two:  #972829;
    --accent-three: #131d56;
    --accent-four: #2B3C3E;
    --accent-5: #d6c59f;
    --text-color: #383636;
}




.ModalComp {
    margin: 1rem auto;
    max-width: 1000px;
    padding: 1rem;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    border:2px solid var(--accent-four);
    border-radius: 10px;
    z-index: 100;
    height: fit-content;
    width: 500px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 8px 3px;
    padding: 10px;
    overflow: auto;
    background-image: url("../../PW-background.jpg");
    /* text-align: center; */
  }

  .modal #close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #0000003a;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.562);
  }
 .modalContainer{
   width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
   z-index: 10;
 }
